doctype html
html(lang="ua" allow="clipboard-read; clipboard-write")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="../../css/parser.css")
    link(rel="stylesheet", href="../../css/books.css")
    script(defer src="../../js/parser.js")
    title Мої книги
  body
    main.main
      .textareas-wrapper
        .textarea-wrapper
          label(for='plainText') plain text
          textarea#plainText
        .textarea-wrapper
          label(for='pugText') pug-formatted text
          textarea#pugText
        //- .textarea-wrapper
        //-   label(for='resultText') result
        //-   textarea#resultText

      .buttons-wrapper
        button(type='button' disabled) вставити з буфера
        button(type='button' onclick='convert()') конвертувати
        button(type='button' onclick='copy()') скопіювати в буфер
        button(type='button' onclick='cleanAllTextArea()') очистити все

      .test
        p
          span.btext Ich stellte also den Projektor
          |
          |(итак, я установила проектор)
          |
          span.btext auf die Fensterbank
          |
          |(
          span.f-coni das Fenster, die Bank – скамья, лавка
          |)
          span.btext , legte den Drakulafilm ein
          |
          |(вложила = поставила дракула-фильм;
          |
          span.f-coni einlegen
          |)
          |
          span.btext und besorgte eine Verlängerungsschnur
          |
          |(и достала удлинитель;
          |
          span.f-coni lang – длинный, verlängern – удлинять, die Schnur, besorgen – доставать, раздобыть
          |)
          span.btext , weil ich sonst nicht bis an die Steckdose kam
          |
          |(так как иначе я не доставала до розетки;
          |
          span.f-coni kommen-kam-gekommen – доходить, stecken – вставлять, die Dose – розетка
          |)
          span.btext . Dann konnte ich mühelos
          |
          |(тогда я смогла легко (т.е. без усилий);
          |
          span.f-coni die Mühe – усилие
          |)
          |
          span.btext Drakulas Gesicht
          |
          |(лицо дракулы;
          |
          span.f-coni das Gesicht
          |)
          |
          span.btext auf die Fassade des Hochhauses
          |
          |(на фасад высотного здания)
          |
          span.btext werfen
          |
          |(бросить = спроецировать)
          span.btext . Drakula war dort
          |
          |(дракула был там)
          |
          span.btext mindestens
          |
          |(по меньшей мере)
          |
          span.btext dreimal so groß
          |
          |(втрое больше)
          |
          span.btext wie in einem echten Kino
          |
          |(чем в настоящем кино;
          |
          span.f-coni das Kíno
          |)
          span.btext . Nur war meine Lampe im Projektor nicht stark genug
          |
          |(только моя лампа в проекторе не была достаточно сильной)
          span.btext . Sein Gesicht erschien also
          |
          |(его /дракулы/ лицо появлялось, таким образом;
          |
          span.f-coni erscheinen-erschien-erschienen
          |)
          |
          span.btext wie im Nebel
          |
          |(как в тумане; der Nebel)
          span.btext . Verschwommen
          |
          |(расплывчато;
          |
          span.f-coni verschwimmen – расплываться, schwimmen-schwamm-geschwommen – плыть
          |)
          span.btext .
        p
          span.btext Das machte die Geschichte
          |
          |(это сделало историю)
          |
          span.btext erst mal
          |
          |(сначала = как раз-то)
          |
          span.btext richtig unheimlich
          |
          |(по-настоящему жуткой)
          span.btext .
        p
          span.btext ***
        p
          span.btext «Wieso
          |
          |(почему)
          span.btext ?» fragte ich
          |
          |(спросила я)
          span.btext . «Hat einer den Löwen auf Sie losgelassen
          |
          |(разве кто-то спустил на Вас львов)
          span.btext ?»
        p
          span.btext Sie musterte mich von oben bis unten
          |
          |(она осмотрела меня с головы до ног;
          |
          span.f-coni mustern – осматривать; обозревать; разглядывать; окидывать взглядом
          |)
          |
          span.btext und überlegte
          |
          |(и обдумывала)
          span.btext , ob ich eine Antwort wert war
          |
          |(достойна ли я была ответа;
          |
          span.f-coni wert – стоящий
          |)
          span.btext , dann hauchte sie
          |
          |(потом она прошептала)
          |
          span.btext kaum hörbar
          |
          |(чуть слышно)
          span.btext : «Man hat schon oft genug gehört
          |
          |(уже достаточно часто слышно = ходят слухи)
          span.btext , dass so eine Bestie ausgebrochen ist
          |
          |(что так один зверь вырвался; ausbrechen,
          |
          span.f-coni brechen-brach-gebrochen – ломать
          |)
          span.btext .»
        p
          span.btext «Ich finde es aber gut
          |
          |(но я нахожу, однако, что это хорошо: «это хорошим»)
          span.btext , dass die Löwen noch alle Zähne und Klauen haben
          |
          |(что у львов еще есть все зубы и когти;
          |
          span.f-coni die Klaue
          |)
          span.btext .»
        p
          span.btext «So, warum denn
          |
          |(так, почему же)
          span.btext ?»
        p
          span.btext «Ja, weil
          |
          |(да, потому что)
          |
          span.btext – weil die
          |
          |(потому что они /львы/)
          |
          span.btext auf meinen Schatz aufpassen
          |
          |(присматривают за моим сокровищем)
          span.btext .»
        p
          span.btext «Auf deinen Schatz?»
        p
          span.btext «Mhm.»
        p
          span.btext «Du hast in dem Gehege einen Schatz versteckt
          |
          |(ты спрятала в канаве какое-то сокровище)
          span.btext ?»
        p
          span.btext «Ja, aber das erzähle ich nicht
          |
          |(да, но это я не расскажу)
          span.btext , das ist nämlich mein Geheimnis
          |
          |(это, именно, моя тайна = дело в том, что это моя тайна;
          |
          span.f-coni das Geheimnis
          |)
          span.btext .»
