doctype html
html(lang="ua" allow="clipboard-read; clipboard-write")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="../../css/parser.css")
    link(rel="stylesheet", href="../../css/books.css")
    script(defer src="../../js/parser.js")
    title Мої книги
  body
    main.main
      .textareas-wrapper
        .textarea-wrapper
          label(for='plainText') plain text
          textarea#plainText
        .textarea-wrapper
          label(for='pugText') pug-formatted text
          textarea#pugText
        //- .textarea-wrapper
        //-   label(for='resultText') result
        //-   textarea#resultText

      .buttons-wrapper
        button(type='button' disabled) вставити з буфера
        button(type='button' onclick='convert()') конвертувати
        button(type='button' onclick='copy()') скопіювати в буфер
        button(type='button' onclick='cleanAllTextArea()') очистити все

//-  «Ich finde es aber gut (но я нахожу, однако, что это хорошо: «это хорошим»), dass die Löwen noch alle Zähne und Klauen haben (что у львов еще есть все зубы и когти; die Klaue).»

//- «So, warum denn (так, почему же)?»

//- «Ja, weil (да, потому что) – weil die (потому что они /львы/) auf meinen Schatz aufpassen (присматривают за моим сокровищем).»

//- «Auf deinen Schatz?»

//- «Mhm.»

//- «Du hast in dem Gehege einen Schatz versteckt (ты спрятала в канаве какое-то сокровище)?»

//- «Ja, aber das erzähle ich nicht (да, но это я не расскажу), das ist nämlich mein Geheimnis (это, именно, моя тайна = дело в том, что это моя тайна; das Geheimnis).» 

//- Wir hatten bei einem Kreuzworträtselwettbewerb mitgemacht (мы участвовали в соревновании по разгадыванию кроссвордов; das Kreuzworträtsel – кроссворд, das Kreuz – крест, das Wort – слово, das Rätsel – загадка, der Wettbewerb – соревнование) und einen Super-acht-Filmprojektor gewonnen (и выиграли супер-восьмимиллиметровый кинопроектор; gewinnen-gewann-gewonnen, der Film – пленка, фильм). Drei Filme waren dabei (к тому же – три фильма). Mit Ton (со звуком; der Ton)! Ein Drakulafilm (один дракула-фильм /фильм про вампиров/), ein Western (один вестерн) und einer (и один), bei dem die Leute (в котором люди) kurz nach (вскоре после; kurz – короткий) ihrem Erscheinen auf der Leinwand (их появления на экране; das Leinen – полотно, die Wand – стена) anfangen (начинают), sich auszuziehen (раздеваться).

//- Wir hatten bei einem Kreuzworträtselwettbewerb mitgemacht und einen Super-acht-Filmprojektor gewonnen. Drei Filme waren dabei. Mit Ton! Ein Drakulafilm, ein Western und einer, bei dem die Leute kurz nach ihrem Erscheinen auf der Leinwand anfangen, sich auszuziehen.

//- Ma und Pa (мама и папа) wollten an dem Abend (собирались вечером; der Abend) zu irgendeiner Party (на какую-то вечеринку). Ich sollte eigentlich mitgehen (я, собственно, должна была идти вместе /с ними/), aber jetzt entschied ich mich (но теперь я решила; entscheiden-entschied-entschieden) zu Hause zu bleiben (остаться дома), denn ich wollte (так как я хотела) mit dem Projektor spielen (/по/играть с проектором). Ich war zwar erst in der zweiten Klasse (хотя я была только во втором классе), aber solche Dinge (но такие вещи) konnte ich gut (я хорошо умела). Das hab ich von meiner Ma (это у меня /есть/ от моей мамы), die repariert immer heimlich (которая всегда тайком ремонтирует) die kaputten Steckdosen (испорченные розетки; die Steckdose, stecken – совать) und Wasserleitungen (и водопровод; die Wasserleitung, das Wasser – вода, die Leitung – провод). Sie hat nämlich Angst (так как она боится; Angst haben, die Angst – страх), dass Pa das selber will (что папа это сам захочет /это делать/), wenn er was merkt (если он что-нибудь заметит), und er ist doch (а ведь он) total technisch unterbelichtet (совершенно технически недодержанный /ничего не понимает в технике/; belichten – освещать, /фото/ экспонировать, выдерживать), wie Ma das ausdrückt (как мама это называет: «выражает»).

//- Ma und Pa wollten an dem Abend zu irgendeiner Party. Ich sollte eigentlich mitgehen, aber jetzt entschied ich mich zu Hause zu bleiben, denn ich wollte mit dem Projektor spielen. Ich war zwar erst in der zweiten Klasse, aber solche Dinge konnte ich gut. Das hab ich von meiner Ma, die repariert immer heimlich die kaputten Steckdosen und Wasserleitungen. Sie hat nämlich Angst, dass Pa das selber will, wenn er was merkt, und er ist doch total technisch unterbelichtet, wie Ma das ausdrückt.