// ↓↓↓ modules: loader (start) ↓↓↓

//- style
//-   include loader.css

.loader
  img(src='../../img/loader2.gif')
  div завантаження...

//- script
//-   include loader.min.js

// ↑↑↑ modules: loader (end) ↑↑↑