extends ../../templates/template_en.pug

block first-screen
  .first-screen
    img(src="img/title.jpg", alt="title image")

block name
  .name-section
    .name-section__author
    .name-section__book
    br

    p.tac Фрэнсис Скотт Фицджеральд
    br

    p.tac Алмаз величиной в отель "Риц"
    br

    p.tac Рассказ адаптировал Алексей Шипулин
    br

    p.tac Метод чтения Ильи Франка

//- block content
//-   section.content-section
//-     .content-section__name Зміст
//-     .content
//-       a(href="#").content__main-link .content-main-link
//-       a(href="#").content__sub-link .content-sub-link
//-       a(href="#").content__sub2-link .content__sub2-link
//-       a(href="#").content__sub3-link .content-sub3-link

block text
  section

    h4 I



//- block marginalias
//-   h1 Зноски
//-   p.marginalias-definition(id='m-definition1')
//-     a(href="#marginalias1") [1]
//-     span Torte (фр.) – торт – Примеч переводчика.

//-   //- а в тексті: a.marginalias(id='marginalias1' href="#m-definition1") [1]
//- block about
//-   h1 Додаткова інформація про книгу
//-   p.about-book__header Джерело:
//-   p.about-book__info: a(href="#") https://link-for-downloading.com